.navbar-brand span {
  color: var(--primary);
}
.navbar-nav {
  gap: 1rem;
}
.nav-link {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.5);
  transition: var(--transition);
  position: relative;
}

.nav-link.active,
.nav-link:hover {
  color: rgba(0, 0, 0, 1);
}

@media screen and (min-width: 992px) {
  .nav-link::after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--primary);
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: var(--transition);
  }

  .nav-link.active::after,
  .nav-link:hover::after {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}
